openapi: 3.0.3
info:
  title: Crunchbase Autocomplete Entities API
  description: The Crunchbase REST API (v4) provides programmatic access to Crunchbase's business data platform covering organizations, people, funding rounds, acquisitions, and IPOs. The API exposes entity lookups, search, autocomplete, and deleted entity feeds. Authentication is by API key.
  version: '4.0'
  contact:
    name: Crunchbase Data
    url: https://data.crunchbase.com/docs
servers:
- url: https://api.crunchbase.com/api/v4
  description: Crunchbase v4 production API
security:
- ApiKeyAuth: []
tags:
- name: Entities
  description: Entity lookup endpoints for organizations, people, funding rounds, acquisitions, and IPOs.
paths:
  /entities/organizations/{entity_id}:
    get:
      tags:
      - Entities
      summary: Get organization
      description: Retrieve an organization (company, investor, school) by Crunchbase UUID or permalink.
      operationId: getOrganization
      parameters:
      - $ref: '#/components/parameters/EntityId'
      - $ref: '#/components/parameters/FieldIds'
      - $ref: '#/components/parameters/CardIds'
      responses:
        '200':
          description: Organization entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          $ref: '#/components/responses/NotFound'
  /entities/people/{entity_id}:
    get:
      tags:
      - Entities
      summary: Get person
      description: Retrieve a person entity by Crunchbase UUID or permalink.
      operationId: getPerson
      parameters:
      - $ref: '#/components/parameters/EntityId'
      - $ref: '#/components/parameters/FieldIds'
      - $ref: '#/components/parameters/CardIds'
      responses:
        '200':
          description: Person entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
  /entities/funding_rounds/{entity_id}:
    get:
      tags:
      - Entities
      summary: Get funding round
      operationId: getFundingRound
      parameters:
      - $ref: '#/components/parameters/EntityId'
      - $ref: '#/components/parameters/FieldIds'
      responses:
        '200':
          description: Funding round entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingRound'
  /entities/acquisitions/{entity_id}:
    get:
      tags:
      - Entities
      summary: Get acquisition
      operationId: getAcquisition
      parameters:
      - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: Acquisition entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acquisition'
  /entities/ipos/{entity_id}:
    get:
      tags:
      - Entities
      summary: Get IPO
      operationId: getIpo
      parameters:
      - $ref: '#/components/parameters/EntityId'
      responses:
        '200':
          description: IPO entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ipo'
components:
  parameters:
    FieldIds:
      in: query
      name: field_ids
      schema:
        type: string
      description: Comma-separated list of field identifiers to include in the response.
    CardIds:
      in: query
      name: card_ids
      schema:
        type: string
      description: Comma-separated list of related card identifiers (e.g. founders, investments).
    EntityId:
      in: path
      name: entity_id
      required: true
      schema:
        type: string
      description: Crunchbase UUID or permalink for the entity.
  responses:
    NotFound:
      description: Entity not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    MoneyAmount:
      type: object
      properties:
        value:
          type: number
        currency:
          type: string
          example: USD
        value_usd:
          type: number
    FundingRound:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        identifier:
          $ref: '#/components/schemas/EntityIdentifier'
        funded_organization_identifier:
          $ref: '#/components/schemas/EntityIdentifier'
        investment_type:
          type: string
          example: series_a
        announced_on:
          type: string
          format: date
        money_raised:
          $ref: '#/components/schemas/MoneyAmount'
        num_investors:
          type: integer
        lead_investor_identifiers:
          type: array
          items:
            $ref: '#/components/schemas/EntityIdentifier'
    EntityIdentifier:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        permalink:
          type: string
        value:
          type: string
        entity_def_id:
          type: string
    Acquisition:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        acquirer_identifier:
          $ref: '#/components/schemas/EntityIdentifier'
        acquiree_identifier:
          $ref: '#/components/schemas/EntityIdentifier'
        announced_on:
          type: string
          format: date
        completed_on:
          type: string
          format: date
        price:
          $ref: '#/components/schemas/MoneyAmount'
        acquisition_type:
          type: string
        terms:
          type: string
    Person:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        identifier:
          $ref: '#/components/schemas/EntityIdentifier'
        first_name:
          type: string
        last_name:
          type: string
        primary_organization:
          $ref: '#/components/schemas/EntityIdentifier'
        primary_job_title:
          type: string
    Ipo:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        organization_identifier:
          $ref: '#/components/schemas/EntityIdentifier'
        went_public_on:
          type: string
          format: date
        stock_symbol:
          type: string
        stock_exchange_symbol:
          type: string
        money_raised:
          $ref: '#/components/schemas/MoneyAmount'
        share_price:
          $ref: '#/components/schemas/MoneyAmount'
    Organization:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        identifier:
          $ref: '#/components/schemas/EntityIdentifier'
        name:
          type: string
        short_description:
          type: string
        website_url:
          type: string
          format: uri
        founded_on:
          type: string
          format: date
        location_identifiers:
          type: array
          items:
            $ref: '#/components/schemas/EntityIdentifier'
        category_groups:
          type: array
          items:
            type: string
        funding_total:
          $ref: '#/components/schemas/MoneyAmount'
        last_funding_type:
          type: string
        num_employees_enum:
          type: string
        ipo_status:
          type: string
          enum:
          - private
          - public
          - delisted
          - was_acquired
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-cb-user-key
      description: Crunchbase user API key.
