openapi: 3.0.3
info:
  title: Crunchbase Autocomplete Search API
  description: The Crunchbase REST API (v4) provides programmatic access to Crunchbase's business data platform covering organizations, people, funding rounds, acquisitions, and IPOs. The API exposes entity lookups, search, autocomplete, and deleted entity feeds. Authentication is by API key.
  version: '4.0'
  contact:
    name: Crunchbase Data
    url: https://data.crunchbase.com/docs
servers:
- url: https://api.crunchbase.com/api/v4
  description: Crunchbase v4 production API
security:
- ApiKeyAuth: []
tags:
- name: Search
  description: Full-text and faceted search across entity types.
paths:
  /searches/organizations:
    post:
      tags:
      - Search
      summary: Search organizations
      operationId: searchOrganizations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchQuery'
      responses:
        '200':
          description: Paged search result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
  /searches/people:
    post:
      tags:
      - Search
      summary: Search people
      operationId: searchPeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchQuery'
      responses:
        '200':
          description: Paged search result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
  /searches/funding_rounds:
    post:
      tags:
      - Search
      summary: Search funding rounds
      operationId: searchFundingRounds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchQuery'
      responses:
        '200':
          description: Paged search result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
components:
  schemas:
    SearchQuery:
      type: object
      properties:
        field_ids:
          type: array
          items:
            type: string
        query:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              field_id:
                type: string
              operator_id:
                type: string
              values:
                type: array
                items:
                  type: string
        order:
          type: array
          items:
            type: object
            properties:
              field_id:
                type: string
              sort:
                type: string
                enum:
                - asc
                - desc
        limit:
          type: integer
          default: 50
          maximum: 1000
        after_id:
          type: string
    SearchResult:
      type: object
      properties:
        count:
          type: integer
        entities:
          type: array
          items:
            type: object
            properties:
              uuid:
                type: string
                format: uuid
              properties:
                type: object
                additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-cb-user-key
      description: Crunchbase user API key.
